{% for car in page %}
    <div class="car-item">
        <div class="car-image-container">
            <img src="{{ car.image.url }}" alt="car-img">
        </div>
        <div class="car-card-body">
            {% for brand in car.brand.all %}
            <h2 class="car-name"><a href="{% url 'category_page' brand.slug %}">{{brand}}</a></h2>
            {% endfor %}
            <div class="car-name_price">
                <span class="cat">{{car.name}}</span>
                {% if request.user == car.owner or is_superuser %}
                <p class="price"><a href="{% url 'delete_car' car.id %}">Delete</a></p>
                {% endif %}
                <p class="price"><a href="{% url 'bookmark' car.id %}"><i class="fa-solid fa-heart"></i></a></p>
                <p class="price">${{car.hire_rate_day}} <span>/day</span></p>
            </div>
            <div class="home-car-book-btns">
                <a href="{% url 'rent_car' car.id %}" class="book-now-btn" style="padding:1.2rem 4rem;background-color: var(--blueColor);border-radius:.2rem;color:var(--whiteColor);">Book now</a> 
                <a href="{% url 'car-details' car.id %}" class="detail-btn"  style="padding:1.2rem 5rem; background-color: var(--greenColor);border-radius:.2rem;color:var(--whiteColor);">Details</a>
            </div>
        </div>
    </div>
{% endfor %}