<style>
    .loader-container {
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.95);
        display:flex;
        justify-content: center;
        align-items: center;
        z-index:6000;
        
    }
    .loader-spinner {
        border-radius: 50%;
        padding:2.3rem;
        border:.3rem solid green;
        border-top: .3rem solid transparent; 
        animation: spin .6s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg)}
        100% {transform:rotate(360deg)}
    }
</style>

<div id="loader-container" class="loader-container">
    <div class="loader-spinner">

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const loader = document.getElementById('loader-container');
        window.addEventListener('load', function() {
            loader.style.display = 'none';
        })
    });
</script>