<style>
    .messages {
        display:flex;
        gap:1rem;
        align-items:center;
        justify-content: center;
        max-width:50rem;
        width:100%;
        padding:1.5rem;
        position:fixed;
        opacity: 0;
        top:2rem;
        left:50%;
        transform: translateX(-50%);
        background-color: rgb(168, 138, 30);
        color:white;
        font-size:1.7rem;
        border-radius:1rem;
        animation:fade_in_out 6s ease-in-out;
        z-index:1000;
    }
   
    .fa-xmark {
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        right:2rem;
        color:white;
        font-size:2.1rem;
        cursor: pointer;
    }

    .messages.hidden {
        display:none;
    }

    @keyframes fade_in_out {
        0% {opacity:0; transform:translate(-50%, -40px);}
        30% {opacity:1;transform:translate(-50%, 0);}
        80% {opacity:1;transform:translate(-50%, 0);}
        90% {opacity:1;transform:translate(-50%, 0);}
        100% {opacity:0;transform:translate(-50%,-40px);}
    }
</style>
 
{% if messages %}
    {% for message in messages %}
    <div class="messages">
        <i class="fa-solid fa-bolt"></i>
        <p>{{ message }}</p>
        <i  class="fa-solid fa-xmark messages-close"></i>
    </div>
    {% endfor %}
{% endif %}
   

<script>
    const cancelbtns =document.getElementsByClassName('messages-close');
    const messageboxes =document.getElementsByClassName('messages');
        for (let i = 0; i < cancelbtns.length; i++) {
        cancelbtns[i].addEventListener('click', function() {
            messageboxes[i].classList.add('hidden');
    });
}
</script>