{% extends 'a_main/base.html' %}
{% block title_head %} Cars {% endblock title_head %}
{% load static %}

{% block layout %}
<style>
	body {
		background-image: url("{% static 'images/bg_3.jpg' %}");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
   }
   body::after {
		content:'';
		position: absolute;
		left:0;
		top:0;
		width:100%;
		height: 100vh;
		z-index: -30;
		background-color: rgba(0,0,0,.7);
   }
</style>
	
<!--cars STARTS-->
<style>
	.cars-container {
		margin-top:4rem;
		background: #ffffff;
		padding:1rem;
		
	}
	.car-intro {
		text-align: center;
		line-height:3rem;
		margin-bottom:1rem;
		margin-top:2rem;
	}
	.car-intro .subheading {
		text-transform: uppercase;
		font-weight: 600;
		color:var(--blueColor);
		font-size: 1.5rem;
		padding-bottom:1rem;
		}
	.car-intro .heading {
		font-size: 3rem;
		padding-bottom: 1rem;
		color:var(--blackColor);
	}
	.car-container {
		display:grid;
		grid-template-columns: repeat(3, 1fr);
		gap:3rem;
	}
	.car-item {
		background-color: rgba(241,240,253,0.9);
		border:.01rem solid #ccc;
		border-radius: .5rem;
	}
	.car-item .car-image-container {
		width:100%;
		height:25rem;
		overflow: hidden;
	}
	.car-item .car-image-container img {
		width:100%;
		height:100%;
		object-fit: cover;
		object-position: center;
		border-radius: .5rem;
	}
	.car-item .car-image-container img:hover {
		transform:scale(1.1);
	
	}
	.car-card-body {
		padding:2rem;
		font-size: 1.7rem;
	}
	
	.car-name a {
		color:var(--blackColor);
		font-weight: 600;
		font-size:2.1rem;
	}
	.car-name_price {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: .8rem;
		padding-bottom: 2rem;
	}
	.car-name_price .cat{
		color:var(--blackColor);
		opacity: 50%;
		font-size:1.6rem;
	}
	.car-name_price .price{
		color:var(--blueColor);
		font-weight:600;
	}
	.car-name_price .price span{
		color:var(--blackColor);
		opacity: 50%;
		font-size:1.6rem;
		font-weight:400;
	}
	.home-car-book-btns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap:1rem;
	}

	.pagination-buttons {
		display:flex;
		flex-wrap: wrap;
		gap:1.5rem;
		justify-content: center;
		align-items: center;
		padding-bottom: 1rem;
		margin-bottom:2rem;
	}
	.pagination-buttons .current {
		color:var(--blueColor);
		font-size:1.5rem;
		font-weight:600;
	}

	.pagination-buttons>li a {
		color:var(--blueColor);
		font-size:1.5rem;
		padding:1.2rem;
		border:.1rem solid #ccc;
		background-color:var(--whiteColor);
		cursor:pointer;
	}

	.pagination-buttons>li a:hover {
		background-color:var(--blueColor);
		color:var(--whiteColor);
	}
	.pagination-buttons>li a.active {
		background-color:var(--blueColor);
		color:var(--whiteColor);
	}
	.categories-container {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:2rem;
		font-size:1.8rem;
		margin-bottom: 2rem;
	}
	.categories-container li {
		padding:1rem 2rem;
		border-radius: .3rem;
		background:var(--greenColor);
		font-size:1.8rem;
		color:var(--whiteColor);
	}
	.categories-container li a {
		color:var(--whiteColor);
	}
	@media (min-width: 768px) and (max-width:1024px){
	 .car-container {
		grid-template-columns: repeat(2, 1fr);
		gap:3rem;
	} 
	}
	
	@media (max-width: 768px) {
	 .car-container {
		grid-template-columns: 100%;
		gap:1rem;
	}
	}
	</style>
	
	<section class="container">
		<div class="cars-container">
			<div class="car-intro">
				<span class="subheading">What we offer</span>
				<h2 class="heading">Choose your Car</h2>
			</div>
				<ul class="categories-container">
					{% for category in categories %}
					<li><a href="{% url 'category_page' category.slug %}">{{category}}</a></li>
					{% endfor %}
				</ul>
		
				<div class="car-container">
					{% for car in page %}
					<div class="car-item">
						<div class="car-image-container">
							<img src="{{ car.image.url }}" alt="car-img">
						</div>
						<div class="car-card-body">
							{% for brand in car.brand.all %}
							<h2 class="car-name"><a href="{% url 'category_page' brand.slug %}">{{brand}}</a></h2>
							{% endfor %}
							<div class="car-name_price">
								<span class="cat">{{car.name}}</span>
								{% if request.user == car.owner or is_superuser %}
								<p class="price"><a href="{% url 'delete_car' car.id %}">Delete</a></p>
								{% endif %}
								<p class="price"><a href="{% url 'bookmark' car.id %}"><i class="fa-solid fa-heart"></i></a></p>
								<p class="price">${{car.hire_rate_day}} <span>/day</span></p>
							</div>
							<div class="home-car-book-btns">
								<a href="{% url 'rent_car' car.id %}" class="book-now-btn" style="padding:1.2rem 4rem;background-color: var(--blueColor);border-radius:.2rem;color:var(--whiteColor);">Book now</a> 
								<a href="{% url 'car-details' car.id %}" class="detail-btn"  style="padding:1.2rem 5rem; background-color: var(--greenColor);border-radius:.2rem;color:var(--whiteColor);">Details</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="container">
					<ul class="pagination-buttons">
						{% if page.has_previous %}
							<li><a href="?page=1">&laquo; first</a></li>
							<li><a href="?page={{ page.previous_page_number }}"><i class="fa-solid fa-arrow-left-long"></i></a></li>
						{% endif %}
			
						<li class="current">
							Page {{ page.number }} of {{ page.paginator.num_pages }}.
						</li>
					
						{% if page.has_next %}
							<li><a href="?page={{ page.next_page_number }}"><i class="fa-solid fa-arrow-right-long"></i></a></li>
							<li><a href="?page={{ page.paginator.num_pages }}">last &raquo;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
	</section>
	<!--cars ENDS-->
{% endblock %}