{% extends 'a_main/base.html' %}
{% block title_head %} Contacts {% endblock title_head %}
{% load static %}

{% block layout %}
<style>
  .contact-hero-wrap {
   background-image: url("{% static 'images/bg_3.jpg' %}");
   position: relative; 
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
 }
 .contact-info-container {
    display:grid;
    grid-template-columns:2fr 3fr;
    gap:2rem;
 }
 .contact-message-form {
    background:#e1e6eb;
    padding:4rem;
 }
 .contact-message-form input {
    background:var(--whiteColor);
    display: block;
    margin-bottom: 1.5rem;
    width:100%;
    padding:1.7rem;
    border-radius: .5rem;
    font-size:1.7rem;
    color:var(--blackColor);
    box-shadow:0 0 1px 0 rgba(0,0,0,.4);
 }
 .contact-message-form textarea {
    background:var(--whiteColor);
    display: block;
    margin-bottom: 1.5rem;
    width:100%;
    padding:1.5rem;
    border-radius: .5rem;
    font-size:1.7rem;
    color:var(--blackColor);
    resize: vertical;
    box-shadow:0 0 1px 0 rgba(0,0,0,.4);
 }
 .contact-message-form textarea:focus, 
 .contact-message-form input:focus {
    border:.01rem solid var(--blueColor);
 }
 .contact-message-form input::placeholder {
    font-size:1.6rem;
 }
 .contact-details-container {
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding-left:2rem;
    padding-right:2rem;
    font-size:1.7rem;
 }
 .contact-details-container .address-details span {
    color:rgb(108, 107, 108);
    font-size:1.7rem;
 }
 .contact-details-container .contact-details {
    display:flex;
    justify-content: flex-start;
    gap:2rem;
    align-items: center;
    border:.1rem solid #ccc;
    border-radius: .2rem;
    padding:4rem;
    background:#e1e6eb;
    font-size:1.7rem;
    width:100%;
    line-height:2.5rem;
 }
 .contact-details .fa-phone, .fa-envelope, .fa-map-location-dot {
    color:var(--blueColor);
    font-size: 1.9rem;
 }
.map-container {
  width:100%;
  height:60rem;
  padding:5rem;
}
.map-container .map-overlay {
  width:100%;
  background-color: #e1e6eb;
  height:100%;
}
@media (max-width: 768px) {
  .contact-info-container {
    grid-template-columns:100%;
    gap:1rem;
 }
 .contact-message-form {
    padding:1rem;
 }
 .map-container {
  height:40rem;
  padding:1rem;
}
}
 </style>
    <section class="contact-hero-wrap" >
      <div class="breadcrumb-animate">
        <p class="breadcrumbs"><span class="home-page"><a href="{% url 'home' %}">Home <i class="fa-solid fa-chevron-right chevron"></i></a></span> <span>Contact<i class="fa-solid fa-chevron-right chevron"></i></span></p>
        <h1 class="bread">Contact Us</h1>
      </div>
    </section>
    
    <section class="contact-section">
      <div class="container contact-info-container">
        	<div class="contact-details-container">
        		  <div class="contact-details">
                  <i class="fa-solid fa-map-location-dot"></i>
			            <p class="address-details"><span>Address:</span><br> BOX, 4444-00100, NAIROBI.</p>
		          </div>
		          <div class="contact-details">
			          	<i class="fa-solid fa-phone"></i>
			            <p class="address-details"><span>Phone:</span><br> <a href="tel://1234567920">+ 254 235 2355</a></p>
		          </div>
		          <div class="contact-details">
                <i class="fa-solid fa-envelope"></i>
                <p class="address-details"><span>Email:</span><br> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
              </div>
          </div>
          <div class="contact-form-container">
            <form action="" class="contact-message-form">
                <input type="text"  placeholder="Your Name" required>
                <input type="text"  placeholder="Your Email" required>
                <input type="text" placeholder="Subject" required>
                <textarea name="" id="" cols="30" rows="7" placeholder="Message" required></textarea>
                <button type="submit" class="button">Send Message</button>
            </form>
          </div>
      </div>
        <div class="map-container">
          <div id="map" class="map-overlay">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d396412.4160137935!2d36.9555016!3d-1.158646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17199c297e71%3A0x7019c24cbb4896d4!2sParklands%2C%20Nairobi!5e0!3m2!1sen!2sbd!4v1632448055187!5m2!1sen!2sbd"
              height="500" width="100%" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
          </div>
        </div>
    </section>
{% endblock %}