* {
  box-sizing:border-box;
  transition: all .3s linear;
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type:none;
  border:none;
  outline:none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background:#f8f9fa;
}

:root {
  --whiteColor: #ffffff;
  --redColor: #d40505;
  --greenColor: #01D28E;
  --blackColor: rgba(0, 0, 0, 1);
  --blueColor:rgb(74, 74, 199);
  --boxShadow: 0 .5rem .5rem 0 rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width:1rem;
}
::-webkit-scrollbar-thumb {
    background:var(--greenColor);
    border-radius:.5rem;
}
::-webkit-scrollbar-track {
    background:gray;
}
.container {
    padding:4rem;
    margin:2rem auto;
}
@media (max-width: 768px) {
  .container {
    padding:1rem;
    margin:2rem auto;
}
}
#back-to-top-btn {
  position: fixed;
  bottom:2rem;
  right:2rem;
  background-color: var(--blueColor);
  color:var(--whiteColor);
  padding:1.3rem;
  border-radius: 50%;
  font-size:1.5rem;
  z-index: 500;
  cursor:pointer;
  display: none;
}
#back-to-top-btn:hover {
  background-color: var(--greenColor);
}

.blog-view-button {
  padding:1rem 2rem;
  background: var(--bluevarColor);
  border-radius: .2rem;
  font-size:1.5rem;
  margin:1.5rem auto;
  color:white;
  border:none;
  outline:none;
}
.button {
  padding:1.5rem 2rem;
  background: var(--bluevarColor);
  border-radius: .2rem;
  font-size:1.6rem;
  margin:1.5rem auto;
  color:white;
  border:none;
  outline:none;
  cursor:pointer;
}

.button:hover {
  letter-spacing: .02rem;
  background: var(--blueColor);
  color:white;
  cursor:pointer;
}

.successbutton {
  padding:1.5rem 2rem;
  background: var(--greenColor);
  border-radius: .2rem;
  font-size:1.6rem;
  margin:1.5rem auto;
  color:white;
  border:none;
  outline:none;
  cursor:pointer;
}

/* Home styling starts */
 .home-hero-wrap::after,
 .about-hero-wrap::after,
 .pricing-hero-wrap::after,
 .contact-hero-wrap::after,
 .blog-hero-wrap::after,
 .services-hero-wrap::after,
 .about-bg3::after,
 .services-bg3::after,
 .cars-hero-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes animate {
  0% { bottom:-1rem}
  30% { bottom:1rem}
  60% { bottom:2rem}
  80% { bottom:3rem}
  100% { bottom:5rem}
}

.breadcrumb-animate {
  position: absolute;
  z-index: 100;
  bottom:6rem;
  left:7rem;
  color:var(--whiteColor);
  font-size:1.8rem;
  animation: animate .5s ease-in;
 }
 .breadcrumbs {
  text-transform: uppercase;
  font-size: 1.4rem;
  color:var(--whiteColor);
  padding:1rem 2rem;
  opacity: 70%;
 }
.bread {
  font-size: 4.4rem;
  color:var(--whiteColor);
  line-height: 4.6rem;
  padding:.5rem 2rem;
  
}
.chevron {
  font-size: 1.4rem;
  padding:0 .3rem;
  color:var(--whiteColor)
}
.home-page a{
  color:var(--whiteColor);
}
.home-page a:hover {
  color:var(--blueColor);
}
 .welcome-note {
    position: absolute;
    top:45%;
    left:50%;
    transform:translateY(-45%);
    transform:translateX(-50%);
    text-align: center;
    max-width:70rem;
    width:100%;
    color:var( --whiteColor);
    z-index: 100;
    
 }

 .welcome-note-title {
	font-size: 4.4rem;
  color:var(--whiteColor);
  padding:2rem;
 }

 .welcome-note>p {
  text-align: center;
  padding-top:1rem;
	font-size: 1.8rem;
  color:var(--whiteColor);
 }

 .icon-wrap {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  padding:2rem;
 }

 .welcome-note .heading-title {
  text-align: center;
	font-size: 1.6rem;
  color:var(--whiteColor);
 }
 
.play-icon {
  font-size: 1.2rem;
  background-color: var(--greenColor);
  color:var(--whiteColor);
  padding:2.4rem 2.6rem;
  border-radius: 50%;
}

.stroke {
  width:4rem;
  height:.2rem;
  background:var(--whiteColor);
}
/* Home styling ends */


/*about */
.about-section {
  position: relative;
  display: grid;
  grid-template-columns:2fr 4fr;
 
}
.about-paragraph-section {
  padding-top:7rem;
  padding-bottom:7rem;
  padding-right:7rem;
  padding-left:15rem;
  font-size: 1.6rem;
  color:var(--whiteColor);
  background-color: var(--greenColor);
 
}
.about-paragraph-section .subheading {
  text-transform: uppercase;
  color:var(--whiteColor);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.about-paragraph-section .heading {
  color:var(--whiteColor);
  font-size: 4rem;
  font-weight: 600;
}
.about-paragraph-section>p {
  word-spacing: .3rem;
  line-height: 3rem;
  font-size: 1.7rem;
  color:var(--whiteColor);
  margin-bottom: 2rem;
  margin-top:2rem;
}

.about-intro-section {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 4fr;
  position:relative;
  font-size:1.7rem;
  background:var(--greenColor);
  height:35rem;
}

@media (max-width: 768px) {
.about-section {
  grid-template-columns:100%;
}
.about-intro-section, .services-intro-section {
  grid-template-columns: 1fr;
}
.color-blank-container {
  display:none;
}
.about-paragraph-section {
  padding-top:2rem;
  padding-bottom:3rem;
  padding-right:2rem;
  padding-left:2rem;
  font-size: 1.6rem;
  color:var(--whiteColor);
  background-color: var(--greenColor);
}
.about-intro-section {
  height:40rem;
}

}

